@layout TelerikLayout
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <CascadingValue Value="@Global">
                <article class="content px-4">
                    <div>
                        <Global @ref="Global" />
                    </div>
                    @Body
                </article>
            </CascadingValue>
        </article>
    </main>
</div>
@code {
    Global Global { get; set; }
}